.btn-pro{
    cursor: pointer;
}
.profile{
    position: absolute;
    width: 300px;
    right: 10px;
    top: -50%;
    padding: 1rem;
    transition: 1s opacity;
    opacity: 0;
    background-color: rgb(228, 243, 255);
    font-family: "Outfit", sans-serif;
    font-size: 0.8rem;
    border-radius: 8px;
    border-bottom: 5px solid rgb(135, 245, 135);
}
.profile-view{
    top: 15%;
    opacity: 1;
}
.profile-img{
    overflow: hidden;
    width: 100px;
    border-radius: 50%;
    border: 8px solid rgb(39, 233, 184);
}
.profile-img img{
    height: 100%;
    width: 100%;
}